body
{
	width: 800px;
	height: 600px;
	border: 1px solid black;
	display: flex;
	position: relative;
}

.control {flex: 0; position: relative;}

.color-picker
{
	flex: 1;
	width: 50px;
	height: 50px;
	cursor: pointer;
}

#draw
{
	cursor: pointer;
	border-left: 1px solid black;
}

#point-size
{
	position: absolute;
	right: 58px;
	top: -1px;
	width: 120px;
	height: 29px;
}

#btn-pointsize
{
	position: absolute;
	width: 60px;
	height: 35px;
	right: -1px;
	top: -1px;
}

#link-github
{
	position: absolute;
	right: -60px;
	bottom: 0px;
}

#switch-mode
{
	cursor: pointer;
	position: absolute;
	height: 35px;
	width: 60px;
	text-align: center;
	top: -1px;
	right: -60px;
	background-color: #FB8C8C;
	border-color: #FB8C8C;
}

#btn-clear
{
	cursor: pointer;
	position: absolute;
	top: 33px;
	right: -60px;
	width: 60px;
	height: 35px;
}

#draw-line
{
	cursor: pointer;
	position: absolute;
	right: -60px;
	top: 67px;
	height: 35px;
	width: 60px;
	text-align: center;
}

#pen
{
	cursor: pointer;
	position: absolute;
	right: -60px;
	top: 101px;
	height: 35px;
	width: 60px;
	text-align: center;
}

.dark
{
	background-color: #222;
    color: #e6e6e6;
}

h1
{
	position: absolute;
	right: -375px;
	top: 100px;
}

#theme
{
	cursor: pointer;
	position: absolute;
	top: 100px;
	right: -150px;
}