:root {
	--background: rgb(235, 235, 235);
	--color: black;

	--dark-background: black;
	--dark-color: rgb(235, 235, 235);

	--spring-background: rgba(255, 174, 212, 0.781);
	--spring-color: rgb(143, 22, 38);

	--summer-background: rgba(255, 235, 52, 0.849);
	--summer-color: rgb(185, 105, 0);

	--autumn-background: rgb(227, 219, 154);
	--autumn-color: rgb(242, 149, 65);

	--winter-background: rgba(202, 243, 255, 0.815);
	--winter-color: rgb(22, 115, 143);

	--noel-background: rgb(145, 0, 0);
	--noel-color: rgb(108, 212, 171);

	--yin-yang-background: black;
	--yin-yang-color: rgb(160, 160, 160);
}

* {
	font-family: 'Patrick Hand', cursive;
	-webkit-tap-highlight-color: transparent;
}

::selection {
	color: var(--background);
	background-color: var(--color);
}

body {
	background-color: var(--background);
	color: var(--color);
	margin: 0;
	overflow: hidden;
}

body.dark-theme {
	--background: var(--dark-background);
	--color: var(--dark-color);
}

body.spring-theme {
	--background: var(--spring-background);
	--color: var(--spring-color);
}

body.summer-theme {
	--background: var(--summer-background);
	--color: var(--summer-color);
}

body.autumn-theme {
	--background: var(--autumn-background);
	--color: var(--autumn-color);
}

body.winter-theme {
	--background: var(--winter-background);
	--color: var(--winter-color);
}

body.noel-theme {
	--background: var(--noel-background);
	--color: var(--noel-color);
}

body.yin-yang-theme {
	--background: var(--yin-yang-background);
	--color: var(--yin-yang-color);
}

.container {
	text-align: center;
}

.title {
	font-size: 4rem;
}

.theme-list {
	position: relative;
	margin: auto;
	max-width: 500px;
	min-width: 200px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.theme-ico {
	position: relative;
	border: 2px solid;
	font-size: 1.5rem;
	padding: 1px 5px 3px;
	cursor: pointer;
	margin: 7px 10px;
}

.theme-ico::after {
	content: ' ';
	position: absolute;
	height: 3.2px;
	bottom: 3px;
	right: 2px;
	left: 2px;
	transform: scaleX(0);
	transition: all 0.3s ease;
}
.theme-ico:hover::after {
	transform: scaleX(1);
}

#light:hover {
	background-color: var(--background);
	color: var(--color);
}
#light:hover::after {
	background-color: var(--color);
}
#light.active:hover {
	background-color: var(--color);
	color: var(--background);
}
#light.active:hover::after {
	background-color: var(--background);
}

#dark:hover {
	background-color: var(--dark-background);
	border-color: var(--dark-background);
	color: var(--dark-color);
}
#dark:hover::after {
	background-color: var(--dark-color);
}
#dark.active:hover {
	background-color: var(--dark-color);
	color: var(--dark-background);
}
#dark.active:hover::after {
	background-color: var(--dark-background);
}

#spring:hover {
	background-color: var(--spring-background);
	border-color: var(--spring-background);
	color: var(--spring-color);
}
#spring:hover::after {
	background-color: var(--spring-color);
}
#spring.active:hover {
	background-color: var(--spring-color);
	color: var(--spring-background);
}
#spring.active:hover::after {
	background-color: var(--spring-background);
}

#summer:hover {
	background-color: var(--summer-background);
	border-color: var(--summer-background);
	color: var(--summer-color);
}
#summer:hover::after {
	background-color: var(--summer-color);
}
#summer.active:hover {
	background-color: var(--summer-color);
	color: var(--summer-background);
}
#summer.active:hover::after {
	background-color: var(--summer-background);
}

#autumn:hover {
	background-color: var(--autumn-background);
	border-color: var(--autumn-background);
	color: var(--autumn-color);
}
#autumn:hover::after {
	background-color: var(--autumn-color);
}
#autumn.active:hover {
	background-color: var(--autumn-color);
	color: var(--autumn-background);
}
#autumn.active:hover::after {
	background-color: var(--autumn-background);
}

#winter:hover {
	background-color: var(--winter-background);
	border-color: var(--winter-background);
	color: var(--winter-color);
}
#winter:hover::after {
	background-color: var(--winter-color);
}
#winter.active:hover {
	background-color: var(--winter-color);
	color: var(--winter-background);
}
#winter.active:hover::after {
	background-color: var(--winter-background);
}

#noel:hover {
	background-color: var(--noel-background);
	border-color: var(--noel-background);
	color: var(--noel-color);
}
#noel:hover::after {
	background-color: var(--noel-color);
}
#noel.active:hover {
	background-color: var(--noel-color);
	color: var(--noel-background);
}
#noel.active:hover::after {
	background-color: var(--noel-background);
}

#yin-yang:hover {
	background-color: var(--yin-yang-background);
	border-color: var(--yin-yang-background);
	color: var(--yin-yang-color);
}
#yin-yang:hover::after {
	background-color: var(--yin-yang-color);
}
#yin-yang.active:hover {
	background-color: var(--yin-yang-color);
	color: var(--yin-yang-background);
}
#yin-yang.active:hover::after {
	background-color: var(--yin-yang-background);
}

.main {
	display: grid;
	grid-template-columns: repeat(3, auto);
	margin: 15px auto;
	width: 306px;
}

.cell {
	box-shadow: 0 0 0 1px var(--color);
	border: 2px solid var(--color);
	line-height: 100px;
	font-size: 5.7rem;
	cursor: pointer;
	height: 100px;
	width: 100px;
}

.turn {
	margin: 4px auto 2px;
}

.restart {
	position: relative;
	display: inline-block;
	border: 0px solid var(--color);
	border-radius: 10px;
	cursor: pointer;
	font-size: 2rem;
	padding: 5px;
	transition: border-width 0.3s ease 0.15s;
}
.restart::after {
	content: ' ';
	background-color: var(--color);
	position: absolute;
	height: 5px;
	width: 100%;
	bottom: 0;
	right: 0;
	left: 0;
	transform: scaleX(1);
	transition: transform 0.2s ease;
}
.restart:hover {
	border-width: 5px;
}
.restart:hover::after {
	transform: scaleX(0);
}

.restart:hover .redo {
	animation: spin 0.8s infinite ease 0.3s;
}

@keyframes spin {
	100% {
		transform: rotateZ(360deg);
	}
}
