:root {
	--background: white;
	--color: black;

	--dark-background: black;
	--dark-color: white;

	--spring-background: rgba(238, 117, 173, 0.842);
	--spring-color: rgb(143, 22, 38);

	--noel-background: rgb(240, 35, 35);
	--noel-color: rgb(117, 241, 117);
}

* {
	font-family: 'Patrick Hand', cursive;
}

::selection {
	color: var(--background);
	background-color: var(--color);
}

body.dark-theme {
	--background: var(--dark-background);
	--color: var(--dark-color);
}

body.spring-theme {
	--background: var(--spring-background);
	--color: var(--spring-color);
}

body.noel-theme {
	--background: rgb(211, 11, 11);
	--color: rgb(30, 192, 30);
}

.container {
	text-align: center;
}

.title {
	font-size: 4.5rem;
}

.theme-list {
	display: flex;
	align-items: center;
	justify-content: center;
}

.theme-ico {
	border: 2px solid var(--color);
	font-size: 1.5rem;
	padding: 2px 5px;
	cursor: pointer;
	margin: 0 10px;
}

#dark:hover {
	background-color: var(--dark-background);
	color: var(--dark-color);
}
#dark.active:hover {
	background-color: var(--dark-color);
	color: var(--dark-background);
}

#noel:hover {
	background-color: var(--noel-background);
	color: var(--noel-color);
}
#noel.active:hover {
	background-color: var(--noel-color);
	color: var(--noel-background);
}

#spring:hover {
	background-color: var(--spring-background);
	color: var(--spring-color);
}
#spring.active:hover {
	background-color: var(--spring-color);
	color: var(--spring-background);
}

.main {
	display: grid;
	grid-template-columns: repeat(3, auto);
	margin: 20px auto;
	width: 306px;
}

.cell {
	box-shadow: 0 0 0 1px var(--color);
	border: 2px solid var(--color);
	line-height: 100px;
	font-size: 5.7rem;
	cursor: pointer;
	height: 100px;
	width: 100px;
}

.restart {
	position: relative;
	display: inline-block;
	border: 0px solid var(--color);
	border-radius: 10px;
	cursor: pointer;
	font-size: 2rem;
	padding: 5px;
	transition: border-width 0.3s ease 0.15s;
}

.restart::after {
	content: ' ';
	background-color: var(--color);
	position: absolute;
	height: 5px;
	width: 100%;
	bottom: 0;
	right: 0;
	left: 0;
	transform: scaleX(1);
	transition: transform 0.3s ease;
}

.restart:hover {
	border-width: 5px;
}

.restart:hover .redo {
	animation: spin 1s infinite ease 0.3s;
}
.restart:hover::after {
	transform: scaleX(0);
}

@keyframes spin {
	100% {
		transform: rotateZ(360deg);
	}
}
