@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

:root
{
	--background-color: #FAFAFA;
	--background: linear-gradient(35deg, #CCFFFF,  #FFCCCC);
	--border-color: #D3D3D3;
	--box-shadow: rgba(0,31,97,0.6);
	--close-btn: black;
	--color: #1E2025;
	--float-btn-hover: linear-gradient(to right, #EAE5C9, #6CC6CB);
	--float-btn-hover2: linear-gradient(to left, #C9C4AA, #6CC6CB);
	--heading-hover-text: -webkit-linear-gradient(#2A6748, #18734B);
	--heading-hover: linear-gradient(35deg, #A3CBEB, #C7E9A8);
	--heading-title: #e20f2f;
	--social-panel-hover: #FF6A00;
	--social-panel-p-color: #A7EDFF;
	--social-panel-p-background: #046585;
}

* {padding: 0; margin: 0; box-sizing: border-box;}

::-webkit-scrollbar {width: 0px; background: transparent;}


/*body*/
body
{
	/*display: flex;*/
	background: var(--background-color);
	font-family: 'Recursive', sans-serif;
	height: 100%;
	justify-content: center;
	margin: 0;
	overflow: hidden;
	transition: background 0.2s linear;
}

body.dark
{
	--background-color: #1E2025;
	--border-color: #7F7F7F;
	--box-shadow: rgba(238,238,238,0.6);
	--close-btn: white;
	--color: #FAFAFA;
	--heading-hover-text: -webkit-linear-gradient(#EAE5C9, #6CC6CB);
	--heading-hover: linear-gradient(35deg, #497397, #9381A2, #DD88A0);
	--heading-title: #FF5D76;
	--social-panel-hover: #FF852E;
	--social-panel-p-color: #046585;
	--social-panel-p-background: #A7EDFF;
}


/*main*/

h2 {font-size: 40px;}
p {font-size: 25px;}

.linking {color: var(--social-panel-p-background);}

.text-box ul li {font-size: 30px;}

.main
{
	background: var(--background-color);
	height: 100%;
	left: 0px;
	overflow: auto;
	position: absolute;
	transition: width 0.5s, left 0.5s;
	width: calc(100% - 0px);
}

.main .top-bar
{
	align-items: center;
	background: var(--background-color);
	border-bottom: 1.25px solid var(--border-color);
	display: flex;
	height: 60px;
	justify-content: space-between;
	padding: 0 40px;
	position: fixed;
	top: 0;
	transition: width 0.5s, left 0.5s;
	width: 100%;
	z-index: 10000;
}

.title
{
	background: var(--heading-hover-text);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	align-items: center;
	font-family: 'Trebuchet MS', sans-serif;
	height: 50px;
	left: 35%;
	padding: 0.5rem;
	position: relative;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2.5px;
	width: auto;
	transition: width 0.5s, left 0.5s;
}

.title:hover::before
{
	transform: scaleX(1);
	transform-origin: bottom left;
}

.title::before
{
	background: var(--heading-hover);
	content: " ";
	display: block;
	inset: 0 0 0 0;
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	transform-origin: bottom right;
	transform: scaleX(0);
	transition: transform 0.3s ease;
	z-index: -1;
}

.main.active {left: 230px; width: calc(100% - 230px);}
.main.active .title{left: calc(35% - 120px);}


/*Nav bar*/
.navbar-container
{
	background: none;
	height: 100%;
	left: 0px;
	overflow: hidden;
	position: fixed;
	top: 0px;
	transform-style: preserve-3d;
	width: 0px;
	border-right: 1.25px solid var(--border-color);
}

.navbar-container.active {width: 230px;}
.navbar-container.active {width: 230px;}

.menu {
	cursor: pointer;
	position: fixed;
	padding: 2%;
	left: 5px;
	width: 32px;
	height: 32px;
	padding: auto;
	align-items: left;
	display: block;
}

.bar {
	width: 30px;
	height: 1.5px;
	border-radius: 2.5px;
	background-color: var(--color);
	transition: 0.5s;
	position: relative;
}

.bar::before, .bar::after {
	content: "";
	position: absolute;
	width: inherit;
	height: inherit;
	background-color: var(--color);
	transition: 0.5s;
}

.bar::before {transform: translateY(-9px);}
.bar::after {transform: translateY(9px);}

.menu.active .bar::before {transform: translateY(0) rotate(45deg);}
.menu.active .bar {transform: rotate(360deg); background-color: transparent;}
.menu.active .bar::after {transform: translateY(0) rotate(-45deg);}

.links
{
	align-items: center;
	height: 100%;
	left: 15px;
	margin-left: 10px;
	margin-top: 15px;
	overflow: hidden;
	position: relative;
	top: 50px;
	width: 100%;
	z-index: 2;
}

.links a
{
	animation: hide 0.3s forwards ease;
	color: var(--color);
	display: inline-block;
	font-size: 22px;
	font-weight: 300;
	left: 5px;
	letter-spacing: 1px;
	opacity: 0;
	padding: 0.7rem 0;
	text-decoration: none;
	text-transform: uppercase;
	transform: translateY(10px);
	transition: 0.2s;
}
.links a:hover {color: var(--heading-title);}

ul {list-style: none;}
ul li.active a {color: var(--heading-title);}

.navbar-container.active .links a {animation: appear 0.2s forwards ease var(--i);}

@keyframes appear
{
	from {opacity: 0; transform: translateY(10px);}
	to {opacity: 1; transform: translateY(0px);}
}

@keyframes hide
{
	from {opacity: 1; transform: translateY(0px);}
	to {opacity: 0; transform: translateY(10px);}
}


/*Content*/
section
{
	color: var(--color);
	padding: 5%;
	position: relative;
}

#banner {padding: 7%;}

.heading-title {
	color: var(--heading-title);
	letter-spacing: 2px;
	text-transform: uppercase;
}

.banner {
	align-items: center;
	display: flex;
	justify-content: center;
}

.banner .content {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.banner .imgBox {
	border-radius: 50%;
	height: 300px;
	margin-bottom: 20px;
	overflow: hidden;
	position: relative;
	width: 300px;
}

.banner .imgBox img {
	height: 100%;
	object-fit: cover;
	width: 100%;
}

.socialMedia {
	display: flex;
	position: relative;
	top: 20px;
}

.socialMedia li {list-style: none;}

.socialMedia li a {
	align-items: center;
	background: rgba(0,0,0,0.05);
	color: var(--black);
	display: flex;
	font-size: 1.2em;
	height: 55px;
	justify-content: center;
	margin: 5px;
	text-decoration: none;
	width: 55px;
}

.socialMedia li a:hover {background: #3084C6; color: #fff;}
.dark .socialMedia li a:hover {background: #2196f3;}


/*Theme Switch*/
.theme-toggle {position: relative;}

.label
{
	align-items: center;
	background-color: black;
	border-radius: 50px;
	cursor: pointer;
	display: flex;
	height: 26px;
	justify-content: space-between;
	padding: 5px;
	position: fixed;
	right: 25px;
	top: 15px;
	transform: scale(1.5);
	width: 50px;
}

.label .ball
{
	background-color: #fff;
	border-radius: 50%;
	height: 22px;
	left: 2px;
	position: absolute;
	top: 2px;
	transform: translateX(0px);
	transition: transform 0.15s linear;
	width: 22px;
}

.checkbox
{
	position: absolute;
	opacity: 0;
}

.checkbox:checked + .label .ball {transform: translateX(24px);}

.moon, .sun
{
	max-width: 19px;
	border-radius: 4px;
	border-color: black;
}
