body
{
	width: 700px;
	height: 600px;
	border: 1px solid black;
	display: flex;
	position: relative;
}

.control {flex: 1;}

.color-picker
{
	width: 100px;
	height: 100px;
	cursor: pointer;
}

#btn-clear
{
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 0.5rem;
}

#draw
{
	cursor: pointer;
	border-left: 1px solid black;
}